In [1]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')
ratings = pd.read_csv('/content/gdrive/MyDrive/DataScience/rating.csv')
movies = pd.read_csv('/content/gdrive/MyDrive/DataScience/movie.csv')
links = pd.read_csv('/content/gdrive/MyDrive/DataScience/link.csv')

#print(ratings.tail(10))
#print(ratings.shape)
print(movies.shape)
print(movies.head(1))

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
(27278, 3)
   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [11]:
x = ratings['userId'].value_counts().shape
x = ratings['userId'].value_counts()>500

In [12]:
y = x[x].index

In [13]:
y.shape

(7441,)

In [14]:
ratings=ratings[ratings['userId'].isin(y)]

In [15]:
movie_details=movies.merge(ratings,on='movieId')

In [16]:
movie_details.head()

   movieId             title  ... rating            timestamp
0        1  Toy Story (1995)  ...    4.5  2009-01-02 01:13:41
1        1  Toy Story (1995)  ...    4.0  2001-07-04 07:02:29
2        1  Toy Story (1995)  ...    4.0  2000-11-21 21:00:21
3        1  Toy Story (1995)  ...    5.0  2006-04-03 10:00:08
4        1  Toy Story (1995)  ...    4.0  2005-03-22 22:46:02

[5 rows x 6 columns]

In [17]:
movie_details.shape

(6554416, 6)

In [18]:
movie_details.drop(columns=['timestamp'], inplace=True)

In [19]:
movie_details.shape

(6554416, 5)

In [20]:
number_rating = movie_details.groupby('title')['rating'].count().reset_index()

In [21]:
number_rating.rename(columns={'rating':'number of rating'},inplace=True)

In [22]:
number_rating.head()

                                               title  number of rating
0  #chicagoGirl: The Social Network Takes on a Di...                 2
1                                 $ (Dollars) (1971)                 7
2                                    $5 a Day (2008)                10
3                                       $9.99 (2008)                17
4                     $ellebrity (Sellebrity) (2012)                 1

In [23]:
df = movie_details.merge(number_rating,on='title')

In [24]:
df.shape

(6554416, 6)

In [25]:
print(df.head)

<bound method NDFrame.head of          movieId                          title  ... rating  number of rating
0              1               Toy Story (1995)  ...    4.5              6303
1              1               Toy Story (1995)  ...    4.0              6303
2              1               Toy Story (1995)  ...    4.0              6303
3              1               Toy Story (1995)  ...    5.0              6303
4              1               Toy Story (1995)  ...    4.0              6303
...          ...                            ...  ...    ...               ...
6554411   131254   Kein Bund fÃ¼r's Leben (2007)  ...    4.0                 1
6554412   131256  Feuer, Eis & Dosenbier (2002)  ...    4.0                 1
6554413   131258             The Pirates (2014)  ...    2.5                 1
6554414   131260            Rentun Ruusu (2001)  ...    3.0                 1
6554415   131262               Innocence (2014)  ...    4.0                 1

[6554416 rows x 6 columns]>

In [26]:
df=df[df['number of rating']>=50]

In [27]:
df.drop_duplicates(['title','userId'],inplace=True)

In [28]:
df.shape

(6396971, 6)

In [29]:
df.head

<bound method NDFrame.head of          movieId                                title  ... rating  number of rating
0              1                     Toy Story (1995)  ...    4.5              6303
1              1                     Toy Story (1995)  ...    4.0              6303
2              1                     Toy Story (1995)  ...    4.0              6303
3              1                     Toy Story (1995)  ...    5.0              6303
4              1                     Toy Story (1995)  ...    4.0              6303
...          ...                                  ...  ...    ...               ...
6551884   119145  Kingsman: The Secret Service (2015)  ...    5.0                82
6551885   119145  Kingsman: The Secret Service (2015)  ...    4.0                82
6551886   119145  Kingsman: The Secret Service (2015)  ...    4.0                82
6551887   119145  Kingsman: The Secret Service (2015)  ...    1.5                82
6551888   119145  Kingsman: The Secret Service (2015)  ...    3.5                82

[6396971 rows x 6 columns]>

In [30]:
df.drop(columns=['number of rating'], inplace=True)

In [31]:
df.head

<bound method NDFrame.head of          movieId                                title  ...  userId  rating
0              1                     Toy Story (1995)  ...      11     4.5
1              1                     Toy Story (1995)  ...      24     4.0
2              1                     Toy Story (1995)  ...      54     4.0
3              1                     Toy Story (1995)  ...      58     5.0
4              1                     Toy Story (1995)  ...      91     4.0
...          ...                                  ...  ...     ...     ...
6551884   119145  Kingsman: The Secret Service (2015)  ...  133047     5.0
6551885   119145  Kingsman: The Secret Service (2015)  ...  135806     4.0
6551886   119145  Kingsman: The Secret Service (2015)  ...  136268     4.0
6551887   119145  Kingsman: The Secret Service (2015)  ...  136989     1.5
6551888   119145  Kingsman: The Secret Service (2015)  ...  137277     3.5

[6396971 rows x 5 columns]>

In [32]:
df['rating']=df['rating'].astype(int)

In [33]:
df.head

<bound method NDFrame.head of          movieId                                title  ...  userId  rating
0              1                     Toy Story (1995)  ...      11       4
1              1                     Toy Story (1995)  ...      24       4
2              1                     Toy Story (1995)  ...      54       4
3              1                     Toy Story (1995)  ...      58       5
4              1                     Toy Story (1995)  ...      91       4
...          ...                                  ...  ...     ...     ...
6551884   119145  Kingsman: The Secret Service (2015)  ...  133047       5
6551885   119145  Kingsman: The Secret Service (2015)  ...  135806       4
6551886   119145  Kingsman: The Secret Service (2015)  ...  136268       4
6551887   119145  Kingsman: The Secret Service (2015)  ...  136989       1
6551888   119145  Kingsman: The Secret Service (2015)  ...  137277       3

[6396971 rows x 5 columns]>

In [34]:
movie_pivot=df.pivot_table(columns='userId',index='title',values='rating')

In [35]:
movie_pivot.shape

(9359, 7441)

In [36]:
movie_pivot.fillna(0,inplace=True)

In [38]:
movie_pivot
#movie_pivot.to_csv('recommend.csv',index=False)

userId                                         11      24      ...  138437  138474
title                                                          ...
'Round Midnight (1986)                            0.0     0.0  ...     0.0     0.0
'Til There Was You (1997)                         0.0     0.0  ...     0.0     0.0
'burbs, The (1989)                                0.0     0.0  ...     0.0     4.0
'night Mother (1986)                              0.0     0.0  ...     0.0     0.0
(500) Days of Summer (2009)                       0.0     0.0  ...     4.0     0.0
...                                               ...     ...  ...     ...     ...
loudQUIETloud: A Film About the Pixies (2006)     0.0     0.0  ...     0.0     0.0
xXx (2002)                                        0.0     0.0  ...     0.0     0.0
xXx: State of the Union (2005)                    0.0     0.0  ...     0.0     0.0
Â¡Three Amigos! (1986)                             0.0     0.0  ...     4.0     0.0
Ã nous la libertÃ© (Freedom for Us) (1931)         0.0     0.0  ...     0.0     0.0

[9359 rows x 7441 columns]

In [39]:
movie_pivot.shape

(9359, 7441)

In [40]:
from scipy.sparse import csr_matrix
movie_sparse=csr_matrix(movie_pivot)

In [41]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(n_neighbors=7,algorithm='brute',metric='cosine')

In [42]:
model.fit(movie_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                 radius=1.0)

In [43]:
df.drop(columns=['genres','userId','rating'],inplace=True)

In [44]:
df.drop_duplicates(inplace=True)

In [45]:
df.to_csv('codf.csv',index=False)
linkMovie=df.copy()
linkMovie = linkMovie.merge(links)
linkMovie.to_csv('linkPoster.csv',index=False)
linkMovie

      movieId                                title   imdbId    tmdbId
0           1                     Toy Story (1995)   114709     862.0
1           2                       Jumanji (1995)   113497    8844.0
2           3              Grumpier Old Men (1995)   113228   15602.0
3           4             Waiting to Exhale (1995)   114885   31357.0
4           5   Father of the Bride Part II (1995)   113041   11862.0
...       ...                                  ...      ...       ...
9360   118700                         Selma (2014)  1020072  273895.0
9361   118900                          Wild (2014)  2305051  228970.0
9362   118997                Into the Woods (2014)  2180411  224141.0
9363   119141                 The Interview (2014)  2788710  228967.0
9364   119145  Kingsman: The Secret Service (2015)  2802144  207703.0

[9365 rows x 4 columns]

In [46]:
distances,suggestions=model.kneighbors(movie_pivot.iloc[540,:].values.reshape(1,-1))

In [47]:
distances

array([[4.44089210e-16, 7.42246328e-01, 7.57713782e-01, 7.70884163e-01,
        7.90774536e-01, 7.93849736e-01, 7.93911073e-01]])

In [48]:
suggestions

array([[ 540, 6149, 8407, 3888,  672, 6732, 6057]])

In [49]:
df1=df.copy()
ti=[]
for i in df1['title']:
    ti.append(i.split(' (')[0])
df1['title']=ti

In [50]:
for i in range(len(suggestions)):
    print(movie_pivot.index[suggestions[i]])

Index(['Article 99 (1992)', 'One Good Cop (1991)', 'Thunderheart (1992)',
       'Hooper (1978)', 'Bad Influence (1990)', 'Q & A (1990)', 'Nuts (1987)'],
      dtype='object', name='title')

In [51]:
def recommend(movie_name):
    movie_id=df1[df1['title'] == movie_name].drop_duplicates('title')['movieId'].values[0]
    distances,suggestions = model.kneighbors(movie_pivot.iloc[movie_id,:].values.reshape(1,-1))
    
    
    
    for i in range(len(suggestions)):
        return (movie_pivot.index[suggestions[i]])

In [62]:
result = recommend("Titanic")

In [63]:
for i in result:
    print(i)

Clay Pigeons (1998)
Simple Plan, A (1998)
Swingers (1996)
Go (1999)
2 Days in the Valley (1996)
Zero Effect (1998)
Suicide Kings (1997)